name: Build

on: [push, pull_request]

jobs:
  build:
    name: Build extension
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt update
          DEBIAN_FRONTEND=noninteractive sudo apt install -y gettext gnome-shell
      - name: Build extension
        run: |
          npm i
          ./install.sh build
      - name: Archive current compilation
        uses: actions/upload-artifact@v4
        with:
          name: "quick-settings-tweaks-${{ github.sha }}"
          path: "target/quick-settings-tweaks@qwreey.shell-extension.zip"
